@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@layer base {
    body {
        @apply font-[Rubik];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

*{
}


.text-cursor {
    position: absolute;
    pointer-events: none; 
  }


::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}


.Cursor{
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    transition: ease-in-out;
}
.text-cursor {
    pointer-events: none;
  }
  
  .text-cursor .Cursor {
    pointer-events: auto;
  }
  